<div class="aside">
    <div class="aside__left-menu">
        <ul class="aside__list">
            <li  class="aside__item"><a href="index.html">HOME</a></li>
            <li  class="aside__item"><a href="index.html">OUR SERVICES</a></li>
            <li  class="aside__item"><a href="index.html">WHY US!</a></li>
            <li  class="aside__item"><a href="index.html">REFERENCES</a></li>
            <li  class="aside__item"><a href="index.html">F.A.Q.</a></li>
            <li  class="aside__item"><a href="index.html">CONTACT</a></li>
        </ul>
    </div>
</div>